CompileFlags:
  Add: [-I/usr/include/python3.10]

Diagnostics:
  Suppress:
    - unused-parameter
    - unused-includes
    - pragma-once-outside-header
    - pragma-pack
    - pragma-visibility

InlayHints:
  Enabled: true
